src/main/resources/xml/tariffs.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.rater.kz/tariffs/"
           xmlns:tns="http://www.rater.kz/tariffs/"
           elementFormDefault="qualified">

    <xs:include schemaLocation="tariff.xsd"/>

    <xs:complexType name="TariffArrayType">
        <xs:sequence>
            <xs:element name="tariff" type="tns:TariffType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="tariffs" type="tns:TariffArrayType"/>

</xs:schema>